@media screen and (max-width: 650px){
    body{
        margin: 0;
        padding: 0;
    }
    .countryLetter{
        display: none;
    }

    .placeDescription{
        display: none;
    }
.popular-places{
    background-color:#67847C ;
   display: flex;
   flex-direction: column;    
}
.popular-place{
    display:flex;
    flex-direction: column;
    margin: 1rem;
}
.place{

    width: 20rem;
    height: 200px;
    box-shadow: 15px 15px 22px 3px rgba(0,0,0,0.75);
}

.contact-us{
    padding: 3rem;
    background-color: #67847C;
    background-image: url('assets/Banner.jpg');
    display: flex;
    flex-direction: column;
}
.contactLink{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: bisque;
}
.footerLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
}
.footerLinks>span>a{
    text-decoration: none; 
    color: bisque;
}
}