body{
  background: hsla(165, 89%, 31%, 1);
      margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.welcome img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.welcome {
  position: relative;
  font-size: 1rem;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#welcome {
  color: #f3f3f3;
  position: absolute;
  top: 20%;
  left: 5%;
}
/* header */

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  transition: 1s ease-in-out background-color;
}
.headerBackground{
  transition: 0.2s ease-in-out background-color;
  background-color: #195652;
  transition: 1s;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: transparent;
}

.header li a {
  display: block;
  padding: 15px 20px 20px 43px;
  text-decoration: none;
  font-size: larger;
  color:black;
}

.header .logo {
  display: block;
  float: left;
  margin-left: 0;
  font-size: 1rem;
  padding: 13px 10px 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 20px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
  float: right;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media screen and (min-width: 896px) {
  .welcome{
    font-size: xx-large;
  }
  .header {
    display:flex;
    justify-content: space-between; 
    width: 100%; 
    margin-left: 0;
    margin-right: 10%;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding-left: 43px;
    margin-right: 30px;
    font-size: x-large;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-right: 10%;
    padding-right: 15%;
  }
  .header .menu-icon {
    display: none;
  }
  .header .logo {
    font-size: 2em;
    padding-left: 15px;
  }
}
/* popular places section */

.popular-places{
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding:5rem;
    margin-bottom: 5rem;
}
.popular-place{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular-place>img{
    box-shadow: 15px 15px 22px 3px rgba(0,0,0,0.75);
    flex-shrink: 1;
}
.place{
height: 23rem;
width: 17rem;
}
.placeDescription{
  margin:2rem;
    width: 15rem;
    color: #f3f3f3;
    font-weight: 100;
    font-style: italic;
}
 .countryLetter{
    font-size: 5rem;
    color: #f3f3f3;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
 }
 .countryLetter{
    margin-top: 10px;
 }

 /* Footer section */
 .contact-us{
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
 }

.footerLinks{
    width: 20rem;
    display: flex;
    justify-content: space-between;
}
.footerLinks>span>a{
    text-decoration: none;
    color: #f3f3f3;
    font-size: 1.5rem;

}
@media screen and (min-width:1215px) {
  .header .menu {
    margin-right: 20%;
  }
}

 @media screen and (max-width:1216px) {
  .popular-places{
    padding: 2rem;
  }

  .place{
    height: 15rem;
    width:10rem;
    transition: 1.5s;
  }
  .countryLetter{
    display: none;
  }
  .placeDescription{
    width: 10rem;
    color: #f3f3f3;
    font-weight: 100;
    font-style: italic;
  }
}

  
  article > img {
    max-width: 100%;
    margin-bottom: 0.5em;

  }

  article:nth-of-type(even) {
    flex-direction: row-reverse;
    background: #67847c
  }

  
  article > p {
    line-height: 1.5em;
    font-size: 20px;
    padding: 15px;
    margin: 5px;
    text-align: justify;
    font-weight: 100;
    color: #f3f3f3;
    text-align: center;
  }
  
  /* for laptop screen size */
  @media screen and (min-width: 896px) {
    section {
      display: flex;
      flex-direction: column;
      row-gap: 0.5em;
    }
  
    article > img {
      max-width: 50%;
      object-fit: cover;
      width: 50%;
      object-fit: cover;
      max-height: 50vh;
    }
  
    article {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      padding: 1em;
      column-gap: 1em;
      /* max-width: 700px; */
      margin: auto;
      border-radius: 2px;
    }
  
    article:nth-of-type(even) {
      flex-direction: row-reverse;
      background: #195652;
    }
  
    article > p {
      margin: auto;
      width: 50%;
    }
  }

.history {
  font-family: Arial, sans-serif;
  color:#f3f3f3;
}

.history article {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.history article img {
  width: 30%;
  object-fit: cover;
  max-height: 50vh;
}

.history article p {
  width: 70%;
}

article:nth-child(even) {
  flex-direction: row-reverse;
}

@media only screen and (max-width:896px) {
    .history article {
        display: flex;
        flex-direction: column;
        column-gap: 1em;
    }
}
/* Give some Paddin so the Navbar is above the section */
.food  {
  padding-top:5rem;
}
.history  {
  padding-top:5rem;
}

/* nav items poping out while hovering */

ul:hover li a{
  transform:scale(1.5);
  opacity:0.2;
  filter:blur(5px);
}

ul li a:hover{
  transform:scale(1.4);
  opacity:1;
  filter:blur(0);
  text-decoration:none;
  color:black;
}

ul li a:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition:0.5s;
  transform-origin:right;
  transform:scaleX(0);
  z-index:-1;
}

ul li a:hover:before{
  transition:transform 0.5s;
  transform-origin:left;
  transform:scaleX(1);
}

/* Popup form */

/* Button used to open the contact form  */
.open-button {
  background-color: #67847C;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 280px;
  font-size: 1.5rem;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 25%;
  right: 40%;
  border: 5px solid #195652;
  z-index: 9;
  border-radius: 15px;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #67847C;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* Set a style for the send button */
.form-container .btn {
  background-color: #195652; 
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: black;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
} 